@model Employee

<h1 class="alert alert-info text-center">@Model.FullName Details</h1>

<div class="row">
    <dl class="row col-6">
        <dt class="col-2">@Html.DisplayNameFor(e=>e.Id)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Id)</dd>
        @*<dd class="col-10">@Model.Id</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e=>e.FullName)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.FullName)</dd>
        @*<dd class="col-10">@Model.FullName</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e => e.Position)</dt>
        <dd class="col-10">@Html.DisplayFor(e => e.Position)</dd>
        @*<dd class="col-10">@Model.Position</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e=> e.Salary)</dt>
        <dd class="col-10">@Html.DisplayFor(e=> e.Salary)</dd>
        @*<dd class="col-10">@Model.Salary</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e=>e.BirthDate)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.BirthDate)</dd>
        @*<dd class="col-10">@Model.BirthDate</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e=>e.JoinDate)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.JoinDate)</dd>
        @*<dd class="col-10">@Model.JoinDate</dd>*@

        <dt class="col-2">@Html.DisplayNameFor(e=>e.DepartmentId)</dt>
        <dd class="col-10">@Html.DisplayFor(e=>e.Department.Name)</dd>
    </dl>

    <div class="col-6">
        <img src="@Model.ImageUrl" style="width:50%;aspect-ratio:1/1" />
    </div>
</div>
<a asp-controller="Employees" asp-action="GetIndexView">Back to List</a>
